html,
#app {
  background-color: #ffffff;
}

/* #canvas-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 600px;
  margin: 0 auto;
} */

/* スマホ（600px以下): 可変 */
#canvas-wrapper {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1; /* 正方形を維持 */
}

/* PC(600px以上): 固定サイズ */
@media (min-width: 600px) {
  #canvas-wrapper {
    width: 600px;
    height: 600px;
    margin: 0 auto;
  }
}
