html,
#app {
  background-color: #ffffff;
}

/* 全体のレイアウト設定 */
#layout {
  display: flex;
  flex-direction: column;
}

/* スマホ（600px以下): 可変 */
#canvas-wrapper {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  /* 正方形を維持 */
}

/* PC(600px以上): 固定サイズ */
@media (min-width: 600px) {
  #canvas-wrapper {
    width: 600px;
    height: 600px;
    margin: 0 auto;
  }
}

/* UIエリアのスタイル */
.ui-area {
  padding: 10px;
  background: #f7f7f7;
}

/* UI系中央ぞろえのためのボックス */
.center-box {
  max-width: 600px;
  margin: 0 auto;
  /* 中央寄せ */
  width: 100%;
}

/* ボタンのスタイル */
.ui-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}
